main {
	width: 1100px;
	margin: 2em auto;
}
table {
	width: 50%;
}
.wrap-table,
.wrap-list {
	width: 50%;
	margin: 2em 0;
}
div {
	margin: 2em 0;
}
h2 {
	font-size: 16px;
}
.home {
	width: 600px;
	margin: 0 auto;
}